@import './variables.css';

/* Estilos globais para reset de margens e preenchimentos */
body,
div,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

/* Estilos globais para fontes e cores */
body {
    font-family: var(--font-family-primary);
    background-image: url("../assets/images/bg-00.jpg");
    background-attachment: fixed;
    color: var(--text);
    /* Adicione esta linha para o efeito glass */
}

/* Estilos para a superposição de vidro */
.glass-overlay {

    margin: 1rem 0.5rem;

    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.13);
}

.gradient-bg {
    background: rgb(125, 68, 166);
    background: -moz-linear-gradient(90deg, rgba(125, 68, 166, 1) 6%, rgba(109, 39, 198, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(125, 68, 166, 1) 6%, rgba(109, 39, 198, 1) 100%);
    background: linear-gradient(90deg, rgba(125, 68, 166, 1) 6%, rgba(109, 39, 198, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7d44a6", endColorstr="#6d27c6", GradientType=1);
}

/* Outros estilos globais */